.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: $s-size 0 0 0 ;
    padding: 0 $s-size;
}

.add-option{ 
    display: flex;
    flex-direction: column;
    padding: $xs-size;
}

.add-option__input {
    background: $darkblue;
    border: none;
    color: $off-white;
    border-bottom: .3rem solid darken($darkblue, 10);
    flex-grow: 1;
    // margin-right: $xs-size;
    margin-right: 0 0 $xs-size 0;
    padding: $xs-size;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }

    .add-option__input {
        margin: 0 $xs-size 0 0;
    }
}